h1, h2, h3 {
  text-align: center;
}

html {
  font-size: 1em;
  font-family: "Times New Roman";
  color: black;
}

h3 {
  font-style: italic;
}

blockquote {
  font-style: italic
}

img[alt=Tyrannosaurus] {width: 180px; height: 150px;}